.backdrop {
    position: fixed;
    inset: 0;
    z-index: 3;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(2px);
}

.modalContent {
    position: relative;
    width: auto;
    margin: 0 var(--half-measure);
}