html,
body {
    height: 100%;
}

html {
    font-family: var(--font-sans);
    color: var(--text-color);

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background: var(--fallback-bg-color, #0d1b2a);
}

body {
    margin: 0;
    background: var(--background-color);
    background-attachment: fixed;
}