html,
body {
    height: 100%;
}

html {
    font-family: var(--font-sans);
    color: var(--text-color);

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background: var(--background-color);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

body {
    margin: 0;
    background: transparent;
}